<h2>Please do your Book Search here!</h2>


<input type='text' id='book' name='books' placeholder='name of Book or author'>
<button type='button' id='button'>Search</button>
<hr>
<div class='results-container'></div>


