<form method='POST' action='/thanks'>
	<input type='text' name='name' placeholder='name'>
	<input type='text' name='email' placeholder='email'>
	<textarea  name='text' placeholder='text'></textarea>
	<input type='submit'>
</form>