<div class='box-wrapper'>
	<div class='box'></div>
	<div class='box'></div>
	<div class='box'></div>
	<div class='box'></div>
</div>

<h3>These are the users so far:</h3>
<p> <%= @user.name %></p> 
<p> <%= @user.email %></p> 
<hr>
<form>
<input type='text' name='name'>
<input type='submit'>
</form>

<script  type="text/javascript" src='javascript/main.js'></script>