<div class=blogList>
	<li><span class='titlePosts'>Title: </span>   <%= @blog.title %></li>
	<li><span class='titlePosts'>Content:</span> <%= @blog.body %></li>
	<li><span class='titlePosts'>User:</span> <%= @blog.user.username %></li>
</div>