<h1>Search for titles of posts</h1>
<h2>List of blogs</h2>
<form method='get' action='/blogs' >
<input type='text' name='search' placeholder='search'>
<input type='submit'>
<hr>
</form>
<% @blogs.each do |blog| %>
<li><%= blog.title %></li>
<% end %>


<hr>
<form method='POST' action='/blogs' >
	<input type='text' name='blog_title' placeholder='title'>
	<input type='text' name='blog_body' placeholder='body'>
	<input type='submit'>
</form>






