<h2>Please sign in here</h2>
<form action='/sessions/new' method='post'>
<input type='text' name='email' placeholder='email'>
<input type='text' name='password' placeholder='password'>
<input type='submit'>

</form>


<h4>Sign out</h4>
<form action="/signout" method="post">
	<input type="submit"value="Sign out">
</form>