<h2>Please sign up here</h2>
<form action='/sign-up' method='post'>
<input type='text' name='username' placeholder='username'>
<input type='text' name='email' placeholder='email'>
<input type='text' name='password' placeholder='password'>
<input type='submit'>

</form>