body {
	background-color: teal;
}


.main-nav {
	width: 500px;
	height: 200px;
	margin: 0 auto;
	border: 4px solid orange;

}

li a{
	color: white;
	margin: 5px;
	cursor: pointer;
	text-decoration: none;
	// border:2px solid green;
}

