@import 'navbar';
@import 'user';
@import 'blog';

body {
	background-color: coral;
}


#react {
	width: 80%;
	height: 700px;
	border: 2px solid green;
	margin: 0 auto;
}

.api-results {
	// border: 2px solid blue;
	display: inline-block;
	float: left;
	margin: 20px;
	width:30%;
}

.images-api {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	border-radius: 50%;
	// float: left;
}


.img-text{
font-family: cursive;

}

