.blogList {
	// border: 2px solid red;
	width: 70%;
	margin: 0 auto;
}

.blogList li a{
	text-decoration: none;
	// border:1px solid green;
}

.titlePosts {
	font-size: 19px;
	font-weight: bold;

}

#postTitle {
	color: teal;
}