.userSpace {
margin-left: 110px;
// border:2px solid;
	display: inline-block;
	padding: 10px;

}
.six{
	text-align: center;
}
.title, .body {
	width: 250px;
	height: 40px;
	text-align: center;
}
.title {
	border-top: 2px solid teal;
}