<form method='POST' action='/thanks'>
<div class="form-group">
	<label for="inputName">Name</label>
	<input type="text"  name="inputName" placeholder="Name">
</div>
<div class="form-group">
	<label for="inputEmail">Email</label>
	<input type="text" class="form-control" name="inputEmail" placeholder="Name">
</div>
<div class="form-group">
	<label for="inputSubject">Subject</label>
	<input type="text" class="form-control" name="inputSubject" placeholder="Name">
</div>
<div class="form-group">
	<label for="inputText">Body</label>
	<textarea class="form-control" name="inputText" placeholder="Name"></textarea>
</div>
<button type='submit'>Submit</button>



</form>