
<head>
<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
	<div class='main-nav'>
	<nav>
		<ul>
			<li><a href="/">En la casa</a></li>
			<li><a href="/html">HTML/CSS/SASS</a></li>
			<li><a href="/javascript">Javascript</a></li>
			<li><a href="/ruby">Ruby</a></li>
			<li><a href="/sinatra">Sinatra</a></li>
			<li><a href="/rails">Rails</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
	</nav>
</div>
</body>




<div class='wrapper'><%= yield %></div>
<p>whatever</p>