<h1>Home page</h1>


<form method='POST' action='/users' >
	<input type='text' name='input_name' placeholder='name'>
	<input type='text' name='input_email' placeholder='email'>
	<input type='submit'>
</form>



<form method='POST' action='/users' >
	<input type='text' name='search' placeholder='search'>
	<input type='submit'>
</form>