<form action='/user_edit' method='post'>
	<input type='text' name='name' placeholder='name'>
	<input type='text' name='username' placeholder='username'>
	<input type='text' name='password' placeholder='password'>
	<input type='submit'>
</form>


<h4>Delete User</h4>
<form action="/destroy_user" method="post">
	<input type="submit" value="Delete account">
</form>